@section Panorama{ }

<form style="padding-top:200px;" asp-action="Login" asp-controller="Home">
    <div>
        <div class="form-group">
            <input type="text" Name="Login" placeholder="Login"/>
        </div>
        <div class="form-group">
            <input type="password" Name="Password" placeholder="Password"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>
